.info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    &__icon{
        font-size: 2.4rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: rgba(47,45,59,0.33);
    }
    &--title{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.3rem;
        color: #2f2d3b;
        font-family: "Barlow Semi Condensed",sans-serif;
        
    }
    &--description{
        font-family: "Robto",sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: rgba(99,98,108,0.6);
    }
}